<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="StringConexao" connectionString="User=SYSDBA; PassWord=masterkey; Database=E:\DB\470\RTD.GDB; DataSource=127.0.0.1; Port=3064"/>
	</connectionStrings>
</configuration>